<h1>All Questions</h1>

<% @questions.each do |question| %>
  <div class="question">
    <p><strong>Asked by:</strong> <%= question.user.name %></p>
    <p><%= question.body %></p>

    <% unless question.user == current_user %>
        <%= link_to "Answer", question_path(question) %>
    <% end %>
    <hr>
  </div>
<% end %>
